p{
    font-size: 23px;
    color: blueviolet;
}
.favs .a{
    color: brown;
    font-size: 18px;
}
.favs .b{
    color: blue;
    font-size: 26px;
}
.favs .c{
   color: aqua;
    font-size:25px;
}
#ahmed{
color: darkorange;
font-size: 32px;
}